<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<iframe width="560" height="315" src="https://www.youtube.com/embed/SjYw_LaJxfA?rel=0" frameborder="0" allowfullscreen></iframe>
  <body>
    <%= yield %>
  </body>
</html>
